// Color Palette referenced from:
// https://github.com/arcticicestudio/nord
$polar-1: #2e3440;
$polar-2: #3b4252;
$polar-3: #434c5e;
$polar-4: #4c566a;

$snow-1: #d8dee9;
$snow-2: #e5e9f0;
$snow-3: #eceff4;

$frost-1: #8fbcbb;
$frost-2: #88c0d0;
$frost-3: #81a1c1;
$frost-4: #5e81ac;

$aurora-red: #bf616a;
$aurora-orange: #d08770;
$aurora-yellow: #ebcb8b;
$aurora-green: #a3be8c;
$aurora-purple: #b48ead;