svg#workspace {
  display: inline-block;
  background-color: #eee;

  & > g > g.grid {
    & > rect.grid-bg {
      fill: white;
      stroke: #ddd;
      stroke-width: 1;
      pointer-events: none;
    }

    & > g.grid-point-group > circle.grid-point {
      fill: transparent;
      pointer-events: visible;
      transition: .25s;
    }

    & > g.grid-point-group > path.grid-point-pin {
      stroke: transparent;
      stroke-width: 1;
      transition: .25s;
    }

    &.tool-selected > g.grid-point-group > path.grid-point-pin {
      stroke: #ddd;
      transition: .25s;
    }
  }
}
