@import '../../scss/colors.scss';

svg#workspace {
  display: inline-block;
  background-color: $snow-2;

  & > g > g.grid {
    & > rect.grid-bg {
      fill: white;
      stroke: $snow-1;
      stroke-width: 1;
      pointer-events: none;
    }

    & > g.grid-point-group > circle.grid-point {
      fill: transparent;
      pointer-events: visible;
      transition: .25s;
    }

    & > g.grid-point-group > path.grid-point-pin {
      stroke: transparent;
      stroke-width: 1;
      transition: .25s;
    }

    &.add-component-mode,
    &.wiring-mode {
      & > g.grid-point-group > path.grid-point-pin {
        stroke: $snow-1;
        transition: .25s;
      }
    }

    &.wiring-mode > g.grid-point-group > circle:hover + path.grid-point-pin {
      stroke: $frost-4;
      transition: .25s;
    }
  }
}
