@import '../../scss/colors.scss';

.electronics.preview {
  opacity: .5;
  pointer-events: none;
}

path.path-resistor,
path.path-dc-source,
path.path-ground {
  stroke-width: 2;
  stroke-linecap: round;
  stroke: $polar-1;
  fill: transparent;
}

.electronics > path.wire {
  stroke: $polar-1;
  stroke-width: 1;
}

.electronics.invalid > path.wire,
.electronics.invalid > path.path-resistor,
.electronics.invalid > path.path-dc-source,
.electronics.invalid > path.path-ground {
  stroke: $aurora-red;
}

.electronics.has-current > path.wire {
  stroke-dasharray: 1 3 1 3;
  animation: dash 5s infinite linear;
}

.electronics.has-current.inward-current > path.wire {
  animation-direction: reverse;
}

.electronics.has-current.outward-current > path.wire {
  animation-direction: normal;
}

@keyframes dash {
  from { stroke-dashoffset: 40; }
  to   { stroke-dashoffset:  0; }
}

.electronics > rect.electronic-bg {
  fill: white;
}
