.electronics.preview {
  opacity: .5;
  pointer-events: none;
}

.electronics > path.wire {
  stroke: #333;
  stroke-width: 1;
}

.electronics.invalid > path.wire {
  stroke: red;
}

.electronics > rect.electronic-bg {
  fill: white;
}
