body {
  font-family: 'Work sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 12pt;
  color: #333;
}

h1, h2, h3, h4, h5, h6, p, ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
a:visited {
  color: #333;
}

button, a {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
  font-family: 'Work sans', sans-serif;
  font-size: 9pt;
  letter-spacing: .2pt;

  &.default {
    height: 32pt;
    line-height: 32pt;
    display: inline-block;
    padding: 0 9pt;
    transition: .25s;
    border-radius: 1pt;
    box-shadow: 2pt 2pt 2pt #ddd;
  }

  &.default:hover {
    transition: .25s;
    color: white;
    background-color: #333;
  }

  &.default:disabled, &.default:hover:disabled {
    background-color: #eee;
    color: #aaa;
  }

  &:focus {
    outline: none;
  }
}
