body {
  font-family: 'Work sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 12pt;
  color: #333;
}

h1, h2, h3, h4, h5, h6, p, ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

button {
  box-sizing: border-box;
  border: 1pt solid #333;
  padding: 0;
  margin: 0;
  font-family: 'Work sans', sans-serif;
  font-size: 10pt;
  letter-spacing: .2pt;

  &.default {
    height: 24pt;
    line-height: 24pt;
    display: inline-block;
    padding: 0 6pt;
    transition: .25s;
    border-radius: 2pt;  
  }

  &.default:hover {
    transition: .25s;
    color: white;
    background-color: #333;
  }

  &:focus {
    outline: none;
  }
}
